<!-- Wholesale Acces Page -->

<h1 style="text-align:center;"> Approved for wholesale market customers only.</h1> 
 	<p style="text-align:center;"> 
     	{% unless customer %}
          <a href="/pages/contact" style="display:block; text-align:center"> <h3> Contact us to request a wholesale market account.</h3></a>      
        	<div style="text-align:center">              
          <a href="/pages/waki-go-wholesale-markets-form" class="btn btn-primary">Apply Now</button></a>
	<p>
    <p>
    	<h3 style="text-align:center;">or</h3> 
	<p style="text-align:center;"> 
	<p>
    <p>
            <div style="text-align:center">              
        <a href="/account/login" class="btn btn-primary">Log in to your account</button></a>
     	{% endunless %}